#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header2-1 H1 {
  font-size: 60px;
}
#content4-3 .mbr-section__col .mbr-header__text SPAN {
  font-size: 25px;
}
#content4-3 .mbr-section__col .mbr-header__text {
  font-size: 25px;
}
#content4-3 I {
  color: #ffffff;
}
#content4-3 P {
  color: #ffffff;
}
#contacts2-6 P {
  color: #000000;
}
#footer1-7 P {
  font-size: 20px;
}
